<h1 class='title'>Welcome to Blog-Haven</h1>
<% if @users.empty? %>
  <p class='user_empty-message'>No users yet!</p>
<% else %>
  <div class='container'>
    <% @users.each do |user| %>
      <div>
        <div class='avatar'>
            <%= image_tag(user.photo) %>
          </div>
          <div><h2><%= user.name %></h2></div>
          <div> <p><%= link_to "Number of posts: x", user_path(user) %></p> </div>
         
         
        
      </div>
    <% end %>
  </ul>
<% end %>
