<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
<!-- app/views/users/index.html.erb -->
<h1>All Users</h1>
<p>Here is a list of all users:</p>
<!-- Implement code to display the list of users -->

<!-- app/views/users/show.html.erb -->
<h1>User Details</h1>
<p>Here are the details for the user:</p>
<!-- Implement code to display the details of a single user -->

<!-- app/views/posts/index.html.erb -->
<h1>All Posts</h1>
<p>Here is a list of all posts by the user:</p>
<!-- Implement code to display the list of posts for a given user -->

<!-- app/views/posts/show.html.erb -->
<h1>Post Details</h1>
<p>Here are the details for the post:</p>
<!-- Implement code to display the details of a single post -->

