<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<!-- app/views/posts/index.html.erb -->
<h1>All Posts</h1>
<p>Here is a list of all posts by the user:</p>
<!-- Implement code to display the list of posts for a given user -->

<!-- app/views/posts/show.html.erb -->
<h1>Post Details</h1>
<p>Here are the details for the post:</p>
<!-- Implement code to display the details of a single post -->
